<!doctype html>
<html>
<head>
    <title>Site on your device</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <style>
        body         { padding-top:80px; }
    </style>
</head>
<body>

<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#about">About</a></li>
		<li><a href="#download">Download</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>

<div class="container">
    <div class="jumbotron text-center">
        <h1><img src="logo64x64.png"/> Site on your device</h1>

        <p>Login or Register with:</p>
        <a href="/login" class="btn btn-warning"><span class="fa fa-sign-in"></span> Sign in</a>
        <a href="/signup" class="btn btn-warning"><span class="fa fa-sign-in"></span> Sign up</a>
        <a href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Facebook</a>
        <a href="/auth/twitter" class="btn btn-info"><span class="fa fa-twitter"></span> Twitter</a>
        <a href="/auth/google" class="btn btn-danger"><span class="fa fa-google-plus"></span> Google+</a>
    </div>
</div>
<div class="container">
    <div class="text-left">
        <h1>Site on your device - solution which connect your device with internet.</h1>
        <h3>Remote control any computer/mobile/device over the internet.</h3>

        <div class="well">
            <p><b>How to use:</b></p>
            1) You register new account.<br>
            2) Register domain which you want.<br>
            3) Download our client(lightweight and fast Web Server).<br>
            4) Install and start client, specify path which web content wich you want share with internet.<br>
            5) Notify your friends about your own web site.
        </div>
        
        <div class="well">
            <p><b>Our client(Web Server) has next advantages:</b></p>
            - Http 1.1 protocol<br>
            - Http 2 protocol<br>
            - Basic & digest authentication for secure access<br>
            - Directory index<br>
            - Cross-platform support<br>
            - Open source(we only transfer web content, you can check that on next link: <a href="https://github.com/fastogt/siteonyourdevice">project sources</a>)
        </div>
        
        In addition you are able to use our program for your own purposes, all free and we love Open source, We are waiting for your feedback!<br>
        Please write any issues and proposals to <a href="https://github.com/fastogt/siteonyourdevice/issues">GitHub Issues.</a>
    </div>
	
	<!-- download -->
	<div class="well" id="download"> 
			<h4>Download client</h4>
	
	
	
	
	<div class="panel-group" id="accordion">
    
		<div class="panel panel-default">
			<div class="panel-heading">
			<h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion" href="#windows">Windows client</a> </h4>
			</div>
		<div id="windows" class="panel-collapse collapse">
			<div class="panel-body"><a href="http://siteonyourdevice.com/downloads/windows/console/siteonyourdevice-<%- version %><%- type %>x86_64.zip">Windows (console .zip)</a></div>
			<div class="panel-body"><a href="http://siteonyourdevice.com/downloads/windows/console/siteonyourdevice-<%- version %><%- type %>x86_64.exe">Windows (console .exe)</a></div>
			<div class="panel-body"><a href="http://siteonyourdevice.com/downloads/windows/gui/siteonyourdevice-<%- version %><%- type %>x86_64.zip">Windows (gui .zip)</a></div>
			<div class="panel-body"><a href="http://siteonyourdevice.com/downloads/windows/gui/siteonyourdevice-<%- version %><%- type %>x86_64.exe">Windows (gui .exe)</a></div>
		</div>
		</div>
		
		<div class="panel panel-default">
			<div class="panel-heading">
			<h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion" href="#macos">Mac OS client</a> </h4>
			</div>
		<div id="macos" class="panel-collapse collapse">
			<div class="panel-body"><a href="http://siteonyourdevice.com/downloads/macosx/console/siteonyourdevice-<%- version %><%- type %>x86_64.zip">Mac OS (console .zip)</a></div>
			<div class="panel-body"><a href="http://siteonyourdevice.com/downloads/macosx/console/siteonyourdevice-<%- version %><%- type %>x86_64.dmg">Mac OS (console .dmg)</a></div>
			<div class="panel-body"><a href="http://siteonyourdevice.com/downloads/macosx/gui/siteonyourdevice-<%- version %><%- type %>x86_64.zip">Mac OS (gui .zip)</a></div>
			<div class="panel-body"><a href="http://siteonyourdevice.com/downloads/macosx/gui/siteonyourdevice-<%- version %><%- type %>x86_64.dmg">Mac OS (gui .dmg)</a></div>
		</div>
		</div>
		
		<div class="panel panel-default">
			<div class="panel-heading">
			<h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion" href="#linux">Linux client</a> </h4>
			</div>
		<div id="linux" class="panel-collapse collapse">
			<div class="panel-body"><a href="http://siteonyourdevice.com/downloads/linux/console/siteonyourdevice-<%- version %><%- type %>x86_64.deb">Linux (console .deb)</a></div>
			<div class="panel-body"><a href="http://siteonyourdevice.com/downloads/linux/console/siteonyourdevice-<%- version %><%- type %>x86_64.rpm">Linux (console .rpm)</a></div>
			<div class="panel-body"><a href="http://siteonyourdevice.com/downloads/linux/console/siteonyourdevice-<%- version %><%- type %>x86_64.tar.gz">Linux (console .tar.gz)</a></div>
			<div class="panel-body"><a href="http://siteonyourdevice.com/downloads/linux/gui/siteonyourdevice-<%- version %><%- type %>x86_64.deb">Linux (gui .deb)</a></div>
			<div class="panel-body"><a href="http://siteonyourdevice.com/downloads/linux/gui/siteonyourdevice-<%- version %><%- type %>x86_64.rpm">Linux (gui .rpm)</a></div>
			<div class="panel-body"><a href="http://siteonyourdevice.com/downloads/linux/gui/siteonyourdevice-<%- version %><%- type %>x86_64.tar.gz">Linux (gui .tar.gz)</a></div>
		</div>
		</div>
		
		<div class="panel panel-default">
			<div class="panel-heading">
			<h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion" href="#freebsd">Freebsd client</a> </h4>
			</div>
		<div id="freebsd" class="panel-collapse collapse">
			<div class="panel-body"><a href="http://siteonyourdevice.com/downloads/freebsd/console/siteonyourdevice-<%- version %><%- type %>x86_64.tar.gz">Freebsd (console .tar.gz)</a></div>
			<div class="panel-body"><a href="http://siteonyourdevice.com/downloads/freebsd/gui/siteonyourdevice-<%- version %><%- type %>x86_64.tar.gz">Freebsd (gui .tar.gz)</a></div>
		</div>
		</div>	 
	</div>  
	
	</div>
	<!-- download end-->
	
</div>


<div class="navbar navbar-inverse navbar-fixed-buttom">
  <div class="container">
    <div class="navbar-inner navbar-content-center">
            <span class="navbar-text">
            <div>
                <h4>Contribute</h4>
                    <p>Please submit any issues, bugs and proposals via GitHub Issues:<br />
                    <a href="https://github.com/fastogt/siteonyourdevice/issues" style="font-weight: bold;">SiteOnYourDevice in GitHub</a><br />
                    Thank you for finding time to help us!</p>
            </div>
            <p>Copyright &copy; 2014-2015 FastoGT. All rights reserved.</p>
            <p> Website development - <a href="http://fastogt.com">Fasto Great Technology</a></p>
        </span>
        </div>
  </div>
</div>

</body>
</html>
